#topnav {
    display: flex;
    flex-direction: row;
    position:relative;
    top: 0px;
    justify-content: space-around;
    min-height: max-content;
    div {
        display: flex;
        align-items:center;
        justify-content: center;
        font-size: 2em;
        width: 20vw;
        text-align: center;
        background-color: $indigo-dye;
        color: $marigold;
        font-family: 'Permanent Marker', cursive;
        padding: none;
        height: 11vh;
        cursor: pointer;
        &:hover {
            background-color: $indigo-dye-2;
            color: yellow;
        }
    }
}