* {
    margin: 0px;
}

body {
    margin: 0px;
    background-color: deepskyblue;   
    overflow-x: hidden;
}

.navBar {
    background-color: green;
    color: antiquewhite;
    height: 10vh;
    font-size: 2em;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    a {
        text-decoration: none;
        color: antiquewhite;
        &:hover {
            color: black;
        }
    }
}

.hero {
    height: 100vh;
    width: auto;
    background-image: url(/images/paper.jpg);
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a {
        font-size: 2em;
        border: 5px outset black;
        background-color: rgba(0, 0, 0, 0.31);
        color: wheat;
        border-radius: 20px;
        width: max-content;
        padding: 5px;
        text-decoration: none;
        font-family: monospace;
    }
}
.heroTxt {
    text-align: center;
    color: maroon;
    padding-bottom: 10px;

    h1 {
        font-size: 3em;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    h2 {
        font-size: 2em;
        font-family: 'Courier New', Courier, monospace;
    }
}